.#menu {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
    background-color: #196c1b;
    opacity: 0.9;
    filter: alpha(opacity=90);
    border-color: black;
    border-width: 1px;
    border-style: solid;
    z-index: 5
}

.#menu_table {
    background-color: #e2e4e1;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.#menu_item {
    font-family: Arial; 
    font-size: 15px; 
    color: #f6df2a;    
    font-weight: bold    
}

.#menu_item:hover {
    font-family: Arial; 
    font-size: 15px; 
    color: rgb(0, 60, 0);
    background-color: #f6df2a;
    font-weight: bold    
}