<table id="tabset_top_table_up" cellpadding="0" cellspacing="0" width="100%">
  <tr id="top_row">
      <td class="tab" style="display:none" id ="left_top_corner"><img src="{skinPath}images/Tabs/lt.gif" /></td>
      <td class="tab" style="display:none" id ="top_line"><img width="100%" height="2" src="{skinPath}images/Tabs/tl.gif" /></td>
      <td class="tab" style="display:none" id ="right_top_corner"><img src="{skinPath}images/Tabs/rt.gif" /></td>
      <td id="top_row_spacer" style="display:none" colspan="2" width="100%"></td>
  </tr>
  <tr id="content_row" height="100%">
      <td class="tab" style="display:none" id="left_line"><img height="100%" width="2" src="{skinPath}images/Tabs/ll.gif" /></td>
      <td class="tab" nowrap="nowrap" id="content" style="display:none;font-family:Arial;padding-left:2px;padding-right:2px;padding-top:2px;padding-bottom:2px" >
          <table cellpadding="0" cellspacing="0">
              <tr>
                  <td><img id="image" align="left" src ="{skinPath}images/Tabs/mail.gif" /></td>
                  <td nowrap="nowrap"><span id="text" class="tab">Почта</span></td>
              </tr>
          </table>
      </td>
      <td class="tab" style="display:none" id="right_line"><img height="100%" width="2" src="{skinPath}images/Tabs/rl.gif" /></td>
      <td width="100%" id="content_spacer" colspan="2" style="display:none"></td>
  </tr>
  <tr id="bottom_row">
      <td class="tab" id="bottom_line" colspan="3" style="display:none"><img src="{skinPath}images/Tabs/bl.gif" width="100%" height="2" /></td>
      <td width="100%" class="tab" style="" id="bottom_row_spacer"><img src="{skinPath}images/Tabs/bl.gif" width="100%" height="2" /></td>
  </tr>
</table>