<table cellpadding="4" border="0" cellspacing="2" width="{width}" height="{height}" id="taskbar_table">
    <tr height="{height}" id="taskbar" valign="middle">
        <td id="taskbar_button" class="taskbar" style="display:none">
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td nowrap id="taskbar_button_image_td" class="taskbar1">
                        <img id="taskbar_button_image" src="{skinPath}images/Window/mail.gif">&nbsp;</td><td nowrap id="taskbar_button_text" class="taskbar1">
                    </td>
                </tr>
            </table>
        </td>
        <td id="taskbar_whitespace" width="100%" style="display:none"></td>
    </tr>
    <tr>
        <td></td>
    </tr>
</table>