<table cellpadding="0" cellspacing="0">
      <tr valign="top" align="left">
        <td nowrap>
      <div id="root_div" tree_items='{items_string}' target_object="{target_object}" style="background-image:url({skinPath}images/Tree/i.gif);background-repeat:repeat-y">
          <img target_object="{target_object}" id="expand" src="{skinPath}images/Tree/minus_expand.gif">
          <img target_object="{target_object}" id="image" src="{icon}">
          <font target_object="{target_object}" class="tree_item" id="text">{title}</font>
          <div target_object="{target_object}" id="content" style="margin-left:18px;display:none"></div>
      </div>      
      </td>
      </tr>
</table>