<table id="table" width="{width}" border="0" cellspacing="0" cellpadding="0">

</table>
{:include DocFlowMenu_{module_id}_ReferencesMenu,,{referencesMenuCode},templates/interface/Table.html,scripts/handlers/interface/Menu.js,{skinPath}styles/DocFlowMenu.css:}
{:include DocFlowMenu_{module_id}_DocumentsMenu,,{documentsMenuCode},templates/interface/Table.html,scripts/handlers/interface/Menu.js,{skinPath}styles/DocFlowMenu.css:}
{:include DocFlowMenu_{module_id}_ReportsMenu,,{reportsMenuCode},templates/interface/Table.html,scripts/handlers/interface/Menu.js,{skinPath}styles/DocFlowMenu.css:}
{:include DocFlowMenu_{module_id}_SettingsMenu,,{settingsMenuCode},templates/interface/Table.html,scripts/handlers/interface/Menu.js,{skinPath}styles/DocFlowMenu.css:}
{:include DocFlowMenu_{module_id}_HelpMenu,,{helpMenuCode},templates/interface/Table.html,scripts/handlers/interface/Menu.js,{skinPath}styles/DocFlowMenu.css:}