<!-- block=referenceHeader -->
    <tr valign="top" id="reference" style="height:100%;width:100%;display:none">
	    <td class="inner" width="100%" style="height:100%">
	    	<table cellpadding="0" cellspacing="0">
<!-- block=referenceRulesRow -->				
				<tr valign="top">
					<td class="inner">{referenceRuleHeader}</td>
					<td class="inner">
						<Control id='{referenceRuleName}' type='{referenceRuleType}' properties='{referenceRuleProperties}' value='{referenceRuleValue}'/>
					</td>
					<td class="inner">
						<Control id='{referenceRuleName}Code' style="display:{codeDisplayStyle}" type="string" selectClass='MetadataTree' selectOptions='metadataArray=codes~forSelect=1~groupSelect=0~itemSelect=1~loaded=1' value="{referenceRuleCodeName}"/>
					</td>
				</tr>
<!-- block=referenceFooter -->
	    	</table>
	    </td>
	</tr>
