<!-- unnamed -->
    <table cellpadding="0" object="WebEntity_2_12" id="{object_id}" cellspacing="0" type="Collection" cols="1" rows="5" useadapter="true" adapterId="SiteDataAdapter_{module_id}_{siteId}_{name}" query="SELECT sysname,title,shortText FROM fields WHERE @parent.@name={name} AND @isPublic=1 AND @classname LIKE '%WebEntity%' ORDER BY articleDate DESC">
        <tbody>
        <tr>
            <td>
                <div class="art-content">
                <div class="art-Post">
                    <div class="art-Post-tl"></div>
                    <div class="art-Post-tr"></div>
                    <div class="art-Post-bl"></div>
                    <div class="art-Post-br"></div>
                    <div class="art-Post-tc"></div>
                    <div class="art-Post-bc"></div>
                    <div class="art-Post-cl"></div>
                    <div class="art-Post-cr"></div>
                    <div class="art-Post-cc"></div>
                    <div class="art-Post-body">
                <div class="art-Post-inner">
                <div class="art-PostMetadataHeader">
                <h2 class="art-PostHeaderIcon-wrapper"> <span class="art-PostHeader">
                {title_child}</span>
                </h2>
                </div>
                <div class="art-PostContent">
                <div class="art-article">{shortText_child}</div>
                <p>
                <a class="readon" href="?i={sysname_child}">
                    Подробнее... </a>
                </p>                
                </div><span class="article_separator"></span>
                </div>
                <div class="cleared"></div>
                </div>
                </div>
                </div>                
            </td>            
        </tr>
        <tr type="pagepanel">
            <td type="pagepanel">
                <div class="art-Post">
		    <div class="art-Post-tl"></div>
		    <div class="art-Post-tr"></div>
		    <div class="art-Post-bl"></div>
		    <div class="art-Post-br"></div>
		    <div class="art-Post-tc"></div>
		    <div class="art-Post-bc"></div>
		    <div class="art-Post-cl"></div>
		    <div class="art-Post-cr"></div>
		    <div class="art-Post-cc"></div>
		    <div class="art-Post-body">
		<div class="art-Post-inner">
		
				<div class="art-PostContent">
		
		<div id="navigation">                    <span type="page">
                    <a title="#text" href="#link">#text</a>
                    </span>
                    <span type="selected_page">
                    #text
                    </span>
                </div>
                </div>
		</div>
		<div class="cleared"></div>				
		</div>		
                </div>
            </td>
        </tr>
        </tbody>
    </table>