/* 
    Document   : MiracleHost
    Created on : 21.05.2011, 22:14:07
    Author     : andrey
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

