<body onload="onload(event)" onscroll="checkMainMenu(event)" style="margin: 0px;">
<!-- Начало страницы -->
<table id="bodytop" class="body" style="border: 0px solid rgb(0, 96, 0); margin-top: 5px; margin-bottom: 0px;width:979px" align="center" border="0" cellpadding="0" cellspacing="5">
  <tbody>     
    <!-- Шапка с логотипом и контактами -->
    <tr valign="bottom">
      <td align="left"> <img alt="1" src="content/images/pics/logo.png"/> </td>
      <td align="right">
      <table border="0">
        <tbody>
          <tr valign="top">
            <td> <img alt="1" src="content/images/pics/contacts.png"/> </td>
          </tr>
          <tr valign="top">
            <td style="font-family: Arial; font-size: 14px;">
            <div align="right"> <b> <font class="header_link">Подробнее &gt;&gt; </font> </b> </div>
            </td>
          </tr>
        </tbody>
      </table>
      </td>
    </tr>
    <!-- Конец "Шапка с логотипом и контактами" -->
    <!-- Верхняя зеленая разделительная полоса -->
    <tr valign="top">
      <td colspan="2">
      <table cellpadding="0" cellspacing="0" width="100%">
        <tbody>
          <tr valign="top">
            <td> <img src="content/images/pics/topline-start.png" height="12"> </td>
            <td width="100%"> <img alt="1" src="content/images/pics/topline.png" height="12" width="100%"/> </td>
            <td nowrap> <img alt="1" src="content/images/pics/topline-end.png" height="12" width="22"/> </td>
          </tr>
        </tbody>
      </table>
      </td>
    </tr>
    <!-- Конец Верхняя зеленая разделительная полоса -->
    <!-- Декоративное изображение над меню -->
    <tr valign="top">      
      <td colspan="2" style="background-image: url(content/images/pics/bg1.png); height: 160px; width: 979px;" width="100%">
      <!-- Информационный блок на изображении справа -->
      <div align="right">         
      <table style="width: 261px; height: 123px;">
        <tbody>
          <tr>
            <td style="height: 5px;">&nbsp;</td>
          </tr>
          <tr valign="top">
            <td class="infoframe">
            <div style="margin-left: 10px; margin-top: 7px;"><font class="main_header1"> Мы победили спам ! </font><br>
            <font class="infoframe_text" > с помощью фильтра нового поколения </font>
            <div class="infoframe_link">Подробнее &gt;&gt;</div>
            </div>
            </td>
            <td style="width: 15px;">&nbsp;</td>
          </tr>
        </tbody>
      </table>
      </div>
      <!-- Конец Информационный блок на изображении справа -->      
      </td>
    </tr>
</table>
<!-- Конец Декоративное изображение над меню -->
<!-- Основное меню сайта -->
<table id="menu_table" style="z-index:3;border: 0px solid rgb(0, 96, 0); margin-top: 5px; margin-bottom: 0px;width:979px;" align="center" border="0" cellpadding="0" cellspacing="5">
    <tbody>
    <tr valign="top">
      <td>
        {:include Menu_MainMenu,,$object->data='aboutMenu~компания~content/images/pics/about.png|productsMenu~продукты~content/images/pics/products.png|servicesMenu~услуги~content/images/pics/services.png|toMain~на главную~content/images/pics/main.png';$object->horizontal = 'true';$object->properties .= '^width=979^align=center^style=display:';$object->table_properties .= '^width=979^align=center';,templates/Table.html,scripts/handlers/Menu.js,{skinPath}styles/MainMenu.css,static:}
      </td>
    </tr>
    <!-- Нижняя зеленая разделительная полоса -->
    <tr valign="top">
      <td colspan="2">
      <table cellpadding="0" cellspacing="0" width="100%">
        <tbody>
          <tr valign="top">
            <td> <img alt="1" src="content/images/pics/topline-start.png" height="12"> </td>
            <td width="100%"> <img alt="1" src="content/images/pics/topline.png" height="12" width="100%"> </td>
            <td nowrap> <img alt="1" src="content/images/pics/topline-end.png" height="12" width="22"> </td>
          </tr>
        </tbody>
      </table>
      <br>
      </td>
    </tr>
    </tbody>
    <!-- Конец Нижняя зеленая разделительная полоса -->
</table>
<!-- Конец Основное меню сайта -->
<table class="body" style="border: 0px solid rgb(0, 96, 0); height: 100%; margin-top: 5px; margin-bottom: 0px;width:979px" align="center" border="0" cellpadding="0" cellspacing="5">
    <!-- Тело страницы -->
    <tr style="height: 100%;" valign="top">
      <td class="body" colspan="2">
                <!-- Панель избранных решений -->
		<font class="header2">избранные решения</font><br>
		<table width="100%" cellpadding="5" cellspacing="5" border="0">
			<tr valign="middle">
				<td align="center"><img alt="1" src="content/images/pics/server1.png"></td>
				<td align="center"><img alt="1" src="content/images/pics/server2.png"></td>
				<td align="center"><img alt="1" src="content/images/pics/server3.png"></td>
			</tr>
			<tr valign="middle">
				<td align="center">
					<font class="header3">LVA Business Server</font>
				</td>
				<td align="center">
					<font class="header3">LVA Blade Server</font>
				</td>
				<td align="center">
					<font class="header3">LVA Enterprise Server</font>
				</td>
			</tr>
		</table><br>
                <!-- Конец Панель избранных решений -->
                <!-- Панель новостей -->
		<font class="header2">новости</font><br><br>
		<font class="header3">17.11.2011</font><br>
		Фишеры начали активные атаки на клиентов российских хостинг-провайдеров<br><br>
		<font class="header3">03.11.2011</font><br>
		Фишеры начали активные атаки на клиентов российских хостинг-провайдеров.
		<font class="header3">03.11.2011</font><br>
		Фишеры начали активные атаки на клиентов российских хостинг-провайдеров.
		<font class="header3">03.11.2011</font><br>
		Фишеры начали активные атаки на клиентов российских хостинг-провайдеров.
		<font class="header3">03.11.2011</font><br>
		Фишеры начали активные атаки на клиентов российских хостинг-провайдеров.
		<font class="header3">03.11.2011</font><br>
		Фишеры начали активные атаки на клиентов российских хостинг-провайдеров.
		<font class="header3">03.11.2011</font><br>
		Фишеры начали активные атаки на клиентов российских хостинг-провайдеров.
		<font class="header3">03.11.2011</font><br>
		Фишеры начали активные атаки на клиентов российских хостинг-провайдеров.
		<font class="header3">03.11.2011</font><br>
		Фишеры начали активные атаки на клиентов российских хостинг-провайдеров.
		<font class="header3">03.11.2011</font><br>
		Фишеры начали активные атаки на клиентов российских хостинг-провайдеров.
		<font class="header3">03.11.2011</font><br>
		Фишеры начали активные атаки на клиентов российских хостинг-провайдеров.
		<font class="header3">03.11.2011</font><br>
		Фишеры начали активные атаки на клиентов российских хостинг-провайдеров.
		<font class="header3">03.11.2011</font><br>
		Фишеры начали активные атаки на клиентов российских хостинг-провайдеров.
		<font class="header3">03.11.2011</font><br>
		Фишеры начали активные атаки на клиентов российских хостинг-провайдеров.
		<font class="header3">03.11.2011</font><br>
		Фишеры начали активные атаки на клиентов российских хостинг-провайдеров.
		<font class="header3">03.11.2011</font><br>
		Фишеры начали активные атаки на клиентов российских хостинг-провайдеров.
		<font class="header3">03.11.2011</font><br>
		Фишеры начали активные атаки на клиентов российских хостинг-провайдеров.
		Фишеры начали активные атаки на клиентов российских хостинг-провайдеров.
		<font class="header3">03.11.2011</font><br>
		Фишеры начали активные атаки на клиентов российских хостинг-провайдеров.
		<font class="header3">03.11.2011</font><br>
		Фишеры начали активные атаки на клиентов российских хостинг-провайдеров.
		<font class="header3">03.11.2011</font><br>
		Фишеры начали активные атаки на клиентов российских хостинг-провайдеров.
		<font class="header3">03.11.2011</font><br>
		Фишеры начали активные атаки на клиентов российских хостинг-провайдеров.
		<font class="header3">03.11.2011</font><br>
		Фишеры начали активные атаки на клиентов российских хостинг-провайдеров.
		<font class="header3">03.11.2011</font><br>
		Фишеры начали активные атаки на клиентов российских хостинг-провайдеров.
		Фишеры начали активные атаки на клиентов российских хостинг-провайдеров.
		<font class="header3">03.11.2011</font><br>
		Фишеры начали активные атаки на клиентов российских хостинг-провайдеров.
		<font class="header3">03.11.2011</font><br>
		Фишеры начали активные атаки на клиентов российских хостинг-провайдеров.
		<font class="header3">03.11.2011</font><br>
		Фишеры начали активные атаки на клиентов российских хостинг-провайдеров.
		<font class="header3">03.11.2011</font><br>
		Фишеры начали активные атаки на клиентов российских хостинг-провайдеров.
		<font class="header3">03.11.2011</font><br>
		Фишеры начали активные атаки на клиентов российских хостинг-провайдеров.
		<font class="header3">03.11.2011</font><br>
		Фишеры начали активные атаки на клиентов российских хостинг-провайдеров.
		<br><br>
                <!-- Конец панель новостей -->
                <!-- Панель информации о компании -->
		<font class="header2">о компании</font><br><br>
		<img alt="1" src="content/images/pics/lvalogo.png" align="left">Компания "ЛВА" работает в области информационных технологий с 1991г.<br>
		Нашими заказчиками являются Государственные учреждения, производственные коммерческие предприятия, учебные заведения, предприятия малого и среднего бизнеса.<br><br>
		Мы получили высшую степень квалификации по GNU/Linux<br>
		<div align="right"><font class="link"><b>подробнее>></b></font></div>
		<br><br>
                <!-- Конец Панель информации о компании -->
                <!-- Подвал страницы -->
		<hr class="main_hr" style="">
		<div align="right"><b>&copy; 2012 ООО "ЛВА"</b></div>		
                <!-- Конец Подвал страницы -->
      </td>
    </tr>
    <!-- Конец Тело страницы-->
  </tbody>
</table>
<!-- Конец страницы -->
<!-- Фоновое изображение -->
    <div style="overflow: auto; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: -2;"><img id="bgImage" alt="1" src="content/images/pics/mainbg3.jpg" class="main" style="width: 100%; height: 100%;"></div>
<!-- Конец Фоновое изображение -->
</body></html>

{:include Menu_AboutMenu,,$object->data='aboutCompanyMenu~о компании~content/images/pics/about.png|certificatesMenu~сертификаты~content/images/pics/products.png|partnersMenu~партнеры~content/images/pics/services.png|newsMenu~новости~content/images/pics/main.png';,templates/Table.html,scripts/handlers/Menu.js,{skinPath}styles/Menu.css,static:}
{:include Menu_ProductsMenu,,$object->data='workstationsMenu~рабочие станции~content/images/pics/about.png|serversMenu~серверы~content/images/pics/products.png|netMenu~коммуникации~content/images/pics/services.png|securityMenu~безопасность~content/images/pics/main.png';,templates/Table.html,scripts/handlers/Menu.js,{skinPath}styles/Menu.css,static:}
{:include Menu_WorkstationsMenu,,$object->data='desktopsMenu~десктоп~content/images/pics/about.png|nettopsMenu~неттоп~content/images/pics/products.png|monoblockMenu~моноблок~content/images/pics/services.png|thinClientMenu~тонкий клиент~content/images/pics/main.png';,templates/Table.html,scripts/handlers/Menu.js,{skinPath}styles/Menu.css,static:}
{:include EntityMenu_topMenu,,$object->textField='title strings';$object->imageField='menuIcon strings';$object->condition='#IntegerField@parent=-1 AND #BooleanField@isPublic=true';$object->adapter='SiteDataAdapter_{siteId}_Adapter';$object->show();,templates/Table.html,scripts/handlers/EntityMenu.js,{skinPath}styles/Menu.css,:}
