<body bgcolor="#FFFFFF"/>
<form method="post" action="index.php" target="{object_id}_innerFrame">
<table border="0" id="website_table" cellpadding="0" cellspacing="1" width="100%" style="height:100%">
    <tbody>    
    <tr style="width:100%" valign="top">
        <td class="inner" valign="top" style="width:100%;height:100%">
			<img align="left" src="{skinPath}/images/Medic/medic.png"/><br/>{platformName}<br/><br/>{configName}
        </td>
    </tr>
    <tr style="width:100%" valign="top">
		<td class="inner">
		<table width="100%" cellpadding="2" cellspacing="0">
			<tr valign="top">
				<td class="inner_small" style="font-size:11px">&copy; 2003-2012 ООО "ЛВА"<br/>
					Россия, 308004, г. Белгород, Бульвар Юности, д.2.<br/>
					тел: +7(4722)53-62-77, факс: +7(4722)53-62-25<br/>
					e-mail: <a href="mailto:info@lvacompany.ru">info@lvacompany.ru</a><br/>
					<a href="http://www.lvacompany.ru" target="_blank">http://www.lvacompany.ru</a>
				</td>
				<td align="right" valign="middle" class="inner_small">
					<img src="{skinPath}images/Medic/lvalogo.png"/>
				</td>
			</tr>
		</table>
		</td>
    </tr>
    <tr valign="bottom">
        <td class="inner" valign="bottom">
			<div align="center">
			<input class="but" type="button" id="cancel" value="     ОК     " />
			</div>        
        </td>
    </tr>
    </tbody>
</table>
</form>