<!-- block=header -->
<body bgcolor="#FFFFFF"/>
<form method="post" action="index.php" target="{object_id}_innerFrame">
<table border="0" id="website_table" cellpadding="0" cellspacing="1" width="100%" style="height:100%">
    <tbody>    
    <tr valign="top">
        <td colspan="2" class="inner">
            {:include {tabset_id}_up,,{tabsetCode} :}
        </td>
    </tr>
    <tr valign="top" id="main" style="height:100%;width:100%;display:">
	    <td class="inner" width="100%" style="height:100%">
		    <table cellspacing="0" cellpadding="0" width="100%" style="height:100%">    
			    <tr valign="top" width="100%">
			        <td nowrap="nowrap" class="inner">
			            Описание:
			        </td>
			        <td class="inner" width="100%">
			            <Control id="title" value="{title}" properties='{title_properties}'></Control>
{hiddenFields}                                
			        </td>        
			    </tr>
			    <tr valign="top" width="100%">
			        <td nowrap="nowrap" class="inner" colspan="2">
			            <table width="100%" height="100%" cellpadding="0" cellspacing="0">
			                <tr>
			                    <td class="inner">
			                        Код:
			                    </td>
			                    <td width="100%" class="inner">
			                        <Control id="code" value="{code}" properties='{code_properties}'></Control>                                            
			                    </td>
			                </tr>
			                <tr>
			                    <td class="inner">
			                        Единица измерения:
			                    </td>
			                    <td class="inner">
			                        <Control id="dimension" value="{dimension}" tableClassName='DocFlowReferenceTable' properties='{dimension_properties}'></Control>                                
			                    </td>
			                </tr>
			            </table>
			        </td>
			    </tr>
			    <tr valign="top" width="100%">
			        <td nowrap="nowrap" class="inner" colspan="2">
			            <table width="100%" height="100%" cellpadding="0" cellspacing="0">
			                <tr>
			                    <td class="inner" colspan="2">
			                        Для мужчин:
			                    </td>
			                    <td class="inner" colspan="2">
			                        Для женщин:
			                    </td>
			                </tr>
			                <tr>
			                    <td class="inner">
			                        Минимум:
			                    </td>
			                    <td class="inner">
			                        <Control id="mMinV" value="{mMinV}" properties='{mMinV_properties}'></Control>                                            
			                    </td>
			                    <td class="inner">
			                        Минимум:
			                    </td>
			                    <td class="inner">
			                        <Control id="wmMinV" value="{wmMinV}" properties='{wmMinV_properties}'></Control>                                            
			                    </td>
			                </tr>
			                <tr>
			                    <td class="inner">
			                        Максимум:
			                    </td>
			                    <td class="inner">
			                        <Control id="mMaxV" value="{mMaxV}" properties='{mMaxV_properties}'></Control>                                            
			                    </td>
			                    <td class="inner">
			                        Максимум:
			                    </td>
			                    <td class="inner">
			                        <Control id="wmMaxV" value="{wmMaxV}" properties='{wmMaxV_properties}'></Control>                                            
			                    </td>
			                </tr>
			                <tr>
			                    <td class="inner">
			                        Среднее:
			                    </td>
			                    <td class="inner">
			                        <Control id="mAvgV" value="{mAvgV}" properties='{mAvgV_properties}'></Control>                                            
			                    </td>
			                    <td class="inner">
			                        Среднее:
			                    </td>
			                    <td class="inner">
			                        <Control id="wmAvgV" value="{wmAvgV}" properties='{wmAvgV_properties}'></Control>                                            
			                    </td>
			                </tr>
			            </table>
			        </td>
			    </tr>  
			    <tr valign="top" width="100%">
			        <td nowrap="nowrap" class="inner">
						Номер раздела в справочной системе:
					</td>
			        <td nowrap="nowrap" class="inner" style="width:100%">
						<Control type="string" id="helpTopic" value="{helpTopic}"></Control>
					</td>
			    </tr> 
			</table>
		</td>
	</tr>    
<!-- block=footer -->     
    <tr valign="bottom">
        <td class="inner" valign="bottom" colspan="2">
                <div align="right"><input class="but" type="submit" id="OK" value="Сохранить" />
               	<input class="but" type="button" unchangeable="true" id="help" value=" Помощь " style="display:{helpButtonDisplay}" />
                <input class="but" type="button" id="cancel" value=" Закрыть " />
                </div>
                <iframe src="blank.htm" name="{object_id}_innerFrame" id="innerFrame" style="display:none" width="100%"></iframe>
        </td>
    </tr>
    </tbody>
</table>
</form>