/* linked */
root { 
    display: block;    
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
}

td {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-style: normal;
    font-size: 13px;    
}
td.inner {
    font-weight:bold;
    background-color: #f1f5f4;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: left;
    vertical-align: top;
}

td.inner_middle {
    font-weight:bold;
    background-color: #f1f5f4;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: left;
    vertical-align: middle;
}

td.inner_small {
    background-color: #f1f5f4;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: left;
    vertical-align: top;
}

td.inner:hover {
    background-color: #e4f5f1;
}

.wide {
    width: 100%;
    background-color:#FFFFFF;
    color:#000000;
    border-style:solid;
    border-color:#000000;
    border-width:1px;
}

input {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-style: normal;
    font-size: 13px;        
}
input:hover {
    background-color:#ffffcc;
    cursor: pointer;
}

input.wide:hover {
    cursor:pointer;
}

.pointer {
    cursor: pointer;
}

select.inner {
    width:100%;
    height:100%;
}

form {
    margin: 0px;
}