/* linked */
.row_lines {
    height:1px;
    background-color: #000000;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.header {
    background-color: #108283;
    text-align: left;

    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 3px;
    padding-top: 3px;
    color: #000000;
    background-image: url(/skins/default/images/Window/bg1.jpg);
    vertical-align: middle;
    font-weight: bold;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-variant: small-caps;
    cursor: pointer;
}

.cell {
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    background-color: #f1f5f4;
}

td.cell:hover {
    background-color: #e4f5f1;
}

.wide {
    width: 100%;
    background-color:#FFFFFF;
    color:#000000;
    border-style:solid;
    border-color:#000000;
    border-width:1px;
}

.expandable_cell {
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    background-color: #b5d2ff;
    font-weight: bold;
}

.expandable_cell1 {
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    background-color: #b5d2ff;
    font-weight: bold;
    font-size: 13px;
}

.expandable_cell2 {
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    background-color: #b5d2ff;
    font-size: 13px;
}

.expandable_cell3 {
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    background-color: #869cbd;
    font-size: 13px;
}

.selected_cell {
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    background-color: #b5d2ff;
    font-weight: bold;
    font-size: 13px;
}

.red_cell {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    background-color: #FFAAAA;
    font-size: 11px;
}

.black_cell {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    background-color: #000000;
    color:#FFFFFF;
    font-size: 11px;
}

.yellow_cell {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    background-color: #FFFF00;
    color:#000000;
    font-size: 11px;
}

td.col_lines {
    width:2px;
    background-color: #000000;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}
root { 
    display: block;
}

.group_expand_image {
    cursor: pointer;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    background-color: #b5d2ff;
    font-weight: bold;
    font-size: 13px;
}