<!-- block=header -->
<body bgcolor="#FFFFFF"/>
<form method="post" action="index.php" target="{object_id}_innerFrame">
<table border="0" id="website_table" cellpadding="0" cellspacing="1" width="100%" style="height:100%">
    <tbody>    
    <tr valign="top">
        <td colspan="2" class="inner">
            {:include {tabset_id}_up,,{tabsetCode} :}
        </td>
    </tr>
    <tr valign="top" id="main" style="height:100%;width:100%;display:">
	    <td class="inner">
	    	<table width="100%" style="height:100%" cellpadding="0" cellspacing="1">
			    <tr valign="top" width="100%">
			        <td nowrap="nowrap" class="inner">
			            Контрагент:
			        </td>
			        <td nowrap="nowrap" class="inner">
			            <Control id="contragent" value="{contragent}" properties='{contragent_properties}'></Control>                                
			        </td>
			    </tr>
			    <tr valign="top" width="100%">
			        <td nowrap="nowrap" class="inner">
			            Расчетный счет:
			        </td>
			        <td class="inner" width="100%">
			            <Control id="RS" value="{RS}" properties='{RS_properties}'></Control>
	{hiddenFields}
			        </td>        
			    </tr>
			    <tr valign="top" width="100%">
			        <td nowrap="nowrap" class="inner">
			            Банк:
			        </td>
			        <td nowrap="nowrap" class="inner">
			            <Control id="bank" value="{bank}" properties='{bank_properties}'></Control>                                
			        </td>
			    </tr>
			    <tr valign="top" width="100%">
			        <td nowrap="nowrap" class="inner">
			            БИК:
			        </td>
			        <td nowrap="nowrap" class="inner">
			            <Control id="BIK" value="{BIK}" properties='{BIK_properties}' selectClass="SelectEntityFloatMenu" selectOptions="resultObject={object_id}~entityClass=ReferenceBanks~searchField=BIK~displayField=BIK~resultFields=entityId-BIK-KS|bank-BIK-KS" showOnKeyPress="true" hideSelectButton="true"></Control>                                
			        </td>
			    </tr>
			    <tr valign="top" width="100%">
			        <td nowrap="nowrap" class="inner">
			            Корр. счет:
			        </td>
			        <td nowrap="nowrap" class="inner">
			            <Control id="KS" value="{KS}" properties='{KS_properties}' selectClass="SelectEntityFloatMenu" selectOptions="resultObject={object_id}~entityClass=ReferenceBanks~searchField=KS~displayField=KS~resultFields=entityId-BIK-KS|bank-BIK-KS" showOnKeyPress="true" hideSelectButton="true"></Control>                                
			        </td>
			    </tr>
			</table>
		</td>
	</tr>
<!-- block=footer -->
    <tr valign="bottom">
        <td class="inner" valign="bottom" colspan="2">
	        <div align="right">
    	      	<input class="but" type="submit" id="OK" value="Сохранить" />
               	<input class="but" type="button" unchangeable="true" id="help" value=" Помощь " style="display:{helpButtonDisplay}" />
               	<input class="but" type="button" id="cancel" value=" Закрыть " />
        	</div>
			<iframe src="blank.htm" name="{object_id}_innerFrame" id="innerFrame" style="display:none" width="100%"><div></div></iframe>
        </td>
    </tr>
    </tbody>
</table>
</form>