<body bgcolor="#FFFFFF">
<div id="mailbox_div">
<table id="mailbox_table" cellpadding="0" cellspacing="1" width="100%" height="100%">
    <tr>
        <td class="inner">
            <div align="left">
                <input class="but" type="button" id="sendSelected" value="Отправить выбранные">&nbsp;&nbsp;
                <input class="but" type="button" id="deleteSelected" value="Удалить выбранные">
            </div>
        </td>
    </tr>
    <tr style="height:100%">
        <td width="100%">
            <iframe id="tableframe" src="{frame_src}" style="width:99%;height:99%"></iframe>
        </td>
    </tr>
    <tr>
        <td class="inner">
            <div align="left">
                <input class="but" type="button" id="sendAll" value="Отправить все">&nbsp;&nbsp;
                <input class="but" type="button" id="deleteAll" value="Удалить все">
            </div>
        </td>
    </tr>
    <tr>
        <td class="inner">
            <div align="right">
                <input class="but" type="button" id="cancel" value=" Закрыть ">&nbsp;&nbsp;
                    <input class="but" type="button" id="help" value=" Помощь "></div>
        </td>
    </tr>
</table>
</div>